<div>
  <svg width="30" height="38" viewBox="0 0 30 38" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="15" cy="15" r="13.5" fill="black" stroke="white" stroke-width="3"/>
    <path d="M19.6667 9H10.3333C9.59695 9 9 9.59695 9 10.3333V19.6667C9 20.403 9.59695 21 10.3333 21H19.6667C20.403 21 21 20.403 21 19.6667V10.3333C21 9.59695 20.403 9 19.6667 9Z" stroke="#FFCE76" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M12.6667 13.6667C13.219 13.6667 13.6667 13.2189 13.6667 12.6667C13.6667 12.1144 13.219 11.6667 12.6667 11.6667C12.1145 11.6667 11.6667 12.1144 11.6667 12.6667C11.6667 13.2189 12.1145 13.6667 12.6667 13.6667Z" stroke="#FFCE76" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M20.9999 17L17.6666 13.6667L10.3333 21" stroke="#FFCE76" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
    <rect x="14" y="27" width="2" height="11" fill="black"/>
  </svg>

</div>
