<div data-controller="tokens" class="my-div navbar hidden-tablet hidden-phone">
  <%= image_tag "logo.png", style: 'height:50px;margin-bottom:30px;' %>
  <p style='margin-bottom:30px;'>Create a new token in your collection</p>
  <% @tokens.each do |token| %>
    <%= render "biz/tokens/form", token: token, business: @business, collection: @collection %>
  <% end %>
  <a class="btn btn-primary" data-action="click->tokens#submitForms">Create Tokens</a>
  <%= link_to 'View Collection', biz_business_collection_path(@business, @collection), class: "" %>
</div>
