.carousel{
  display:block;
  gap: 10px;
  width: 100%;
  overflow-x: scroll;
  margin: 0;
  white-space: nowrap;
  padding-top: 6px;
  padding-bottom: 6px;
}

.carousel-container {
  width: 100%;
  display:block;
  overflow:hidden;
}

.item {
  display: inline-block;
  width: 45vw;
  background: rgba(0, 0, 0, 0.05) no-repeat center center;
  background-size: cover;
  position:relative;
  border-radius: 20px;
  box-shadow: 0 0 10px #dfdfdf;
  margin-left: 13px;
}

.banner {
  padding: 0;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 320px;
}

.businesses-banner {
  padding: 0;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 320px;
}

.banner-wrapper {
  padding: clamp(8vh, 10vw, 14vh);
  margin: 0 30px;
}

.business-card-text p {
  margin: 0;
  padding-right: 5px;
  margin-bottom: 1px;
}

.wrapper {
  margin: 0 30px;
}

.avatar-wrapper {
  padding-top: 10vh;
}

.avatar-square {
  border: 5px solid white;
  border-radius: 12px;
  height: 180px;
  width: 180px;
  max-width: 25vw;
  max-height: 25vw;
  margin-bottom: -10vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.avatar-square-biz {
  border: 2px solid white;
  border-radius: 12px;
  // height: 180px;
  // width: 180px;
  max-width: 15vw;
  max-height: 15vw;
  margin-bottom: -10vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.avatar-user {
  border: 5px solid white;
  border-radius: 12px;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  max-width: 25vw;
  max-height: 25vw;
  margin-bottom: -10vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.banner-seperator {
  max-height: 14vw;
  height: 8vh;
}



@media only screen and (min-width: 768px) {
  .avatar-wrapper {
    padding-top: 20vh;
  }

  .avatar-square {
    margin-bottom: -80px;
  }

  .avatar-user {
    margin-bottom: -80px;
  }

  .banner-seperator {
    height: 12vh;
  }
}
