.carousel{
  display:block;
  width: 100%;
  height: 400px;
  background: white;
  overflow-x: scroll;
  padding: 10px;
  margin: 0;
  white-space: nowrap;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.carousel-container {
  width: 100%;
  display:block;
  overflow:hidden;
}

.item {
  display: inline-block;
  width: 45vw;
  margin: 0 10px;
  // height: 380px;
  background: rgba(0, 0, 0, 0.05) no-repeat center center;
  background-size: cover;
  position:relative;
  border-radius: 20px;
  box-shadow: 0 0 10px #dfdfdf;
}

.banner {
  padding: 0;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 320px;
}

.wrapper {
  margin: 0 30px;
}

.avatar-wrapper {
  padding-top: 10vh;
}

.avatar-square {
  border: 5px solid white;
  border-radius: 12px;
  height: 180px;
  width: 180px;
  max-width: 25vw;
  max-height: 25vw;
  margin-bottom: -10vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.avatar-user {
  border: 5px solid white;
  border-radius: 12px;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  max-width: 25vw;
  max-height: 25vw;
  margin-bottom: -10vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.banner-seperator {
  max-height: 14vw;
  height: 8vh;
}


@media only screen and (min-width: 768px) {
  .avatar-wrapper {
    padding-top: 20vh;
  }

  .avatar-square {
    margin-bottom: -80px;
  }

  .avatar-user {
    margin-bottom: -80px;
  }

  .banner-seperator {
    height: 12vh;
  }
}
