.btn-catch {
  border-radius: 8px;
  animation: glow 600ms infinite alternate;
  box-sizing: border-box;
}

.btn-cannot {
  border: 1px solid #cccccc;
  border-radius: 8px;
  background-color: #cccccc;
  box-sizing: border-box;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px $purple;
  }
  to {
    box-shadow: 0 0 20px $purple;
  }
}

.btn-primary {
  color: $light-gray;
}
