.popup-token {
  opacity: 1;
  transition: 300ms;
  // -webkit-transform: translateY(100%);
  // transform: translateY(100%);
}

.popup-token.hide {
  opacity: 0;
  transition: 300ms;
  // -webkit-transform: translateY(0);
  // transform: translateY(0);
  pointer-events: none;
}

.card-popup-token {
  border-radius: 1rem 1rem 0 0;
  min-width: 350px;
  max-width: 500px;
  margin: 0 auto 70px;
  z-index: 10;
}
