// // Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
// // External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// // Your CSS partials
@import "components/index";
@import "pages/index";


body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

.my-div {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-home-div {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/assets/bg.png');
}

.main-button {
  all: unset;
  text-align: center;
  position: relative;
  width: 300px;
  height: 50px;
  background-color: #7871FF;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 50px;
  cursor: pointer;

}

.main-button:hover {
  background-color: #645cef;
}

.main-button1 {
  all: unset;
  text-align: center;
  position: relative;
  width: 300px;
  height: 50px;
  background-color: #7871FF;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.input {
  width: 300px;
  height: 32px;
  margin-bottom: 20px;
  border-radius: 8px;
  text-decoration: none;
}


.input1 {
  width: 290px;
  height: 36px;
  margin-bottom: 10px;
  border-radius: 8px;
  text-decoration: none;
}

.input2 {
  width: 290px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 8px;
  text-decoration: none;
}


.input4 {
  width: 300px;
  height: 36px;
  border-radius: 8px;
  text-decoration: none;
}

.acc-type {
  width: 300px;
  height: 36px;
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 26px;
}

.input-des {
  width: 300px;
  height: 32px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 8px;
  text-decoration: none;
}

.forgot-password {
  text-decoration: none;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px  rgb(0, 0, 0);
}

.footer-sm-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: x-large;
  padding: 20px;
}

.footer-icon {
  height: 24px;
  margin-bottom: 6px;
}

.footer-title {
  font-size: 16px;
}

.footer-title-active {
  color: $purple;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  border-radius: 7px;
  text-decoration: none;
  width: 100%;
  height: 32px;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
  font-size: 40px;

  svg {
    display: none;
  }
}

.mapboxgl-ctrl-geocoder input[type='text'] {
  font-size:1rem;
  width:100%;
  border:0;
  background-color:transparent;
  height:40px;
  color:rgba(0,0,0,.5);
  padding:10px 40px 10px 10px;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  }

.token_photo {
  position:relative;
}

.token_photo .form-label {
  position: absolute;
  background-color: grey;
  height: 100%;
  width: 108px;
  border-radius: 8px 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.collection_banner {
  position: relative;
}

.collection_banner .form-label {
  position: absolute;
  background-color: grey;
  height: 100%;
  width: 108px;
  border-radius: 8px 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.collection_photo {
  position: relative;
}

.collection_photo .form-label {
  position: absolute;
  background-color: grey;
  height: 100%;
  width: 108px;
  border-radius: 8px 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

#new_token {
  height: 100%;
}
